---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Start" pageName="maintenance" hideMenu={true}>
    <div class="flex flex-col items-center justify-center min-h-[85vh] text-center p-4">
        <h1 class="text-3xl font-bold tracking-tight sm:text-4xl text-[var(--text-primary)]">
            Under Maintenance
        </h1>
    </div>
</Layout>
